.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 150px;

  @include viewport--lg {
    padding: 0 90px;
  }

  @include viewport--md {
    padding: 0 70px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
