<div id="subscribe" class="subscribe">
  <input type="text" name="subscribe" value="" placeholder="Oooooo" class="subscribe__input"/>

  <button type="button" class="subscribe__btn" aria-label="Подписаться на новостную рассылку">Подписаться
  </button> adsfsdafsd
</div>