.logo {
  grid-area: l;

  &__icon--desktop {
    max-width: 122px;
    max-height: 60px;
    flex-shrink: 0;
  }

  &__icon--mobile {
    max-width: 61px;
    max-height: 40px;

    display: none;
    flex-shrink: 0;
  }

  a {
    display: flex;
    align-items: center;
    color: $color-violet;
  }

  a:hover,
  a:focus,
  a:focus-visible,
  &:focus-visible {
    @include link-hover-color();
  }

  a:active {
    color: $color-violet;
  }

  // media
  @include viewport--sm {
    a {
      justify-content: center;
    }

    &__icon--desktop {
      display: none;
    }

    &__icon--mobile {
      display: flex;
    }
  }
}