.logo {
  margin-right: 90px;

  a {
    color: $color-violet;
  }

  a:hover,
  a:focus,
  a:focus-visible,
  &:focus-visible {
    @include link-hover-color();
  }

  a:active {
    color: $color-violet;
  }

  // media
  @include viewport--xl {
    margin-right: 40px;
  }

  @include viewport--md {
    margin: 0;
    order: 2;
  }
}